body {
    font-family: Arial, sans-serif;
    background-color: #03fdfd;}

.container {
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;}

h1 {
    color: #11009E;
    margin-bottom: 10px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    background-color:#faf9fc ;
    padding: 50px;
    border-radius: 10px;}

h2 {
    margin-top: auto;
    margin-bottom: 10px;
    text-align: center;
    color: crimson;
    font-family: Verdana, Geneva, Tahoma, sans-serif;}

h4 {
    text-align: center;
    color: black;}

h3 {
    text-align: center;
    color: #fff;
    padding: 10px;
    background-color: darkred;
    font-size: 30px;}

image {
        display: flex;
    justify-content: center;}

.card {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);}

input[type="number"] {
    width: 100%;
    padding: 20px;
    margin: 10px 0;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 3px;
    border-color: mediumblue;}

button {
    background-color: #1badd6;
    color: #fff;
    padding: 10px 20px;
    margin: 10px 0;
    border: none;
    cursor: pointer;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    border-radius: 30px;}

button :active {
    background-color: blue;
    transform: scale3d(auto);}

button:hover {
    background-color: cornflowerblue;}

.resetbutton {
    margin-right: 30px;
    background-color: cornflowerblue;}

.LuasPersegiButton {
    background-color: #1badd6;
    color: #fff;
    padding: 10px 15px;
    margin: 10px 0;
    cursor: pointer;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: auto;}

.KelilingPersegiButton {
    background-color: #1badd6;
    color: #fff;
    padding: 10px 15px;
    margin: 10px 0;
    cursor: pointer;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: auto;}